html, body {
  font-size: 20px;
}
select {
  font-size: 1rem;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

pre {
  cursor: pointer;
}
pre:hover {
  font-weight: bold;
}

.poem {
  margin: 40px 0;
  width: 50%;
  min-width: 720px;
}

#stop-talking {
  position: fixed;
  top: 10%;
  right: 10%;
  font-size: 1.25rem;
  padding: 0 10px;
}

#stop-talking:hover {
  background: rgb(194, 191, 191);
}